frontend/admin-ecommerce-cp-main/public/uploads/
frontend/customized_product_ecommerce-main/public/uploads/

# Ignore everything in a folder but keep the folder
/frontend/customized_product_ecommerce-main/public/uploads/*
!//frontend/customized_product_ecommerce-main/public/uploads/.gitkeep


/frontend/admin-ecommerce-cp-main/public/uploads/*
!/frontend/admin-ecommerce-cp-main/public/uploads/.gitkeep

frontend/admin-ecommerce-cp-main/public/uploads/3c5b5feb-2689-4aaf-9fac-6fb79fefae8e.png
frontend/admin-ecommerce-cp-main/public/uploads/8ae40367-4149-4dd6-8c84-3c23c9e7a27b.png
frontend/admin-ecommerce-cp-main/public/uploads/78792fbe-d0ee-43eb-a502-a167fd35171a.png
frontend/admin-ecommerce-cp-main/public/uploads/662017a4-25eb-4666-b9ff-a42d556e55ea.png
frontend/admin-ecommerce-cp-main/public/uploads/a7ff3657-8425-42d3-9d3c-57a8b2484392.png
frontend/admin-ecommerce-cp-main/public/uploads/bbea2c4a-d5fd-47fb-8508-8af1c7d2cf38.png
frontend/admin-ecommerce-cp-main/public/uploads/dcae10d8-7caf-4077-b2f5-db55f3fd5484.png
frontend/customized_product_ecommerce-main/public/uploads/2f760e23-2770-403a-ab22-bd23d122ce4a.png
frontend/customized_product_ecommerce-main/public/uploads/3c5b5feb-2689-4aaf-9fac-6fb79fefae8e.png
frontend/customized_product_ecommerce-main/public/uploads/5d258c6c-37a8-41fe-bb41-e84a2d9fc7c4.png
frontend/customized_product_ecommerce-main/public/uploads/6ae7d8dc-0c01-4b12-b1ef-08ec784988db.png
frontend/customized_product_ecommerce-main/public/uploads/6f89ea06-02f1-4e75-86ed-4acc316a7818.jpg
frontend/customized_product_ecommerce-main/public/uploads/8a736262-4633-43d6-9f0c-25ac53d21388.jpg
frontend/customized_product_ecommerce-main/public/uploads/8aa91c6e-605b-4ea8-a7dd-2f8ade0efc36.png
frontend/customized_product_ecommerce-main/public/uploads/8ae40367-4149-4dd6-8c84-3c23c9e7a27b.png
frontend/customized_product_ecommerce-main/public/uploads/9a0377cb-33e1-4288-8293-2c93c34800e1.jpg
frontend/customized_product_ecommerce-main/public/uploads/9ac8509b-1f63-4951-ba1c-3858ebf81a03.jpg
frontend/customized_product_ecommerce-main/public/uploads/59b76916-4872-483f-a77e-365e4e194594.png
frontend/customized_product_ecommerce-main/public/uploads/62c0fefe-87a2-44ff-8a64-1ffa99a3ebe2.png
frontend/customized_product_ecommerce-main/public/uploads/598a8244-99bb-480e-a101-16b654e76715.png
frontend/customized_product_ecommerce-main/public/uploads/615e51be-2b8f-4927-a2ab-6936ba995d7d.png
frontend/customized_product_ecommerce-main/public/uploads/78792fbe-d0ee-43eb-a502-a167fd35171a.png
frontend/customized_product_ecommerce-main/public/uploads/662017a4-25eb-4666-b9ff-a42d556e55ea.png
frontend/customized_product_ecommerce-main/public/uploads/8585575d-dbc6-439a-a758-d41561c73e47.jpg
frontend/customized_product_ecommerce-main/public/uploads/a7ff3657-8425-42d3-9d3c-57a8b2484392.png
frontend/customized_product_ecommerce-main/public/uploads/a8e3fbc9-5d3f-4883-98c4-e81cc3d049d0.png
frontend/customized_product_ecommerce-main/public/uploads/ad6f848c-37b9-428c-9200-bf750506e6e2.png
frontend/customized_product_ecommerce-main/public/uploads/b6dfd62e-8849-422b-adab-6fcc384cdb94.jpg
frontend/customized_product_ecommerce-main/public/uploads/b74a973c-0781-4d7b-b777-54c9041c183c.jpg
frontend/customized_product_ecommerce-main/public/uploads/bbea2c4a-d5fd-47fb-8508-8af1c7d2cf38.png
frontend/customized_product_ecommerce-main/public/uploads/cbb5abf8-33de-44dd-ae53-b0ecfe85ebc7.jpg
frontend/customized_product_ecommerce-main/public/uploads/dcae10d8-7caf-4077-b2f5-db55f3fd5484.png
frontend/customized_product_ecommerce-main/public/uploads/e4f200ae-1cb6-4706-8426-7f4e6bda5aae.jpg
frontend/customized_product_ecommerce-main/public/uploads/f8d08215-d540-476a-a959-2911de9a523c.jpg
frontend/customized_product_ecommerce-main/public/uploads/f36e3e05-07b6-43b5-8d44-023c41d70a5b.png
